<template>
   <table-component />
</template>

<script lang="ts">
import Vue from "vue";
import {Component, Compute, VueClass} from "wave-ui";
@Component({})
export default class App extends VueClass<Vue>{

}
</script>

<style lang="sass" scoped>
    h1 {color:red;}
    p {color:blue;}
</style>
